header {
  background-color: #f4eeed;
  font-family: "Noto Serif Sc", serif !important; }
  header div #menuDesplegable {
    background-color: #999b84a4;
    margin: 10px;
    padding: 20px;
    font-family: "Noto Serif Sc", serif !important; }
    header div #menuDesplegable a {
      text-decoration-line: none;
      color: white;
      font-weight: bold; }
      header div #menuDesplegable a:hover {
        color: black; }
  header div img {
    padding: 10px;
    margin: 10px; }
  header div #navBar {
    background-color: #999b84a4;
    padding: 10px; }
