main {

    .texto4{
        margin: 5px;
        padding: 5px;
        font-family: 'Noto Serif SC', serif;
    }
    

#contactanos {
    
    margin-top: 15px;
    font-family: 'Noto Serif SC', serif;

}


.btn0 {
    background-color: #b6968dd2;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;    

}

}