main {
    padding: 40px;

    .btn2 {
        background-color: #dcd2d0;
        padding: 8px;
        margin: 8px;
        border-radius: 15px;
        font-family: $fuente-titulos;
        cursor: pointer;
        &:hover {
           color: white;
              }
          }
    
    .textoEvento{
        font-family: $fuente-titulos;
        text-align: center;
    
    }
    
    .textoEvento2{
        font-family: $fuente-titulos;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    
    }
    
}