main {



    .btn2 {
        background-color: #b6968dd2;
        padding: 8px;
        margin: 8px;
        border-radius: 15px;
        font-family: $fuente-titulos;
        color:white;
        cursor: pointer;
        &:hover {
           color: black;
              }
          }
    
    .textoEvento{
        font-family: $fuente-titulos;
        text-align: center;
    
    }
    
    .textoEvento2{
        font-family: $fuente-titulos;
        text-align: center;
        font-weight: bold;
        padding: 15px;
    
    }
    
}