footer {
    background-color: map-get($paletaDeColores, "footer");
    width: 100%;
    min-height: 10vh;
    div{
        p{
            font-size: 1rem;
            font-family: $fuente-titulos;
        }
    }
   
}