footer {
    background-color: map-get($paletaDeColores, "footer");
    width: 100%;
    min-height: 20vh;
    .redes{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 20px;
    }
    .direccion {
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: "Kreon", serif;
        text-align: center;
    }
}