header {
    background-color: $background-header;
    font-family: $fuente-titulos;
    div {
       #menuDesplegable{
        background-color: #999b84a4;
        margin: 10px;
        padding: 20px;
        font-family: $fuente-titulos;
        a {
            text-decoration-line: none;
            color: white;
            font-weight: bold;
            &:hover {
                color:black;
            }
        }
       }
        img {
            padding: 10px;
            margin: 10px;
        }
        #navBar{
            background-color: #999b84a4;
            padding: 10px;
           
        }
    }
   
}

.img-logo{
    animation-name: move;
    animation-duration: 5s;
    @keyframes move {
        from {
            opacity: 0;
        }to{
            opacity: 1;
        }
 }
 }
