header {
    background-color: $background-header;
    font-family: $fuente-titulos;
    div {
        #navBar{
            font-family: $fuente-titulos;
            background-color: $background-header !important;
            a {
            color: #999b84fa;
            font-weight: bold;
           
            &:hover {
                   color:black;
            }
           
           }
           #btnSear{
            background-color: #999b84fa;
            color:white;
            font-family: $fuente-titulos;
            &:hover {
                color:black;
         }
        }
           }
        }
     
         img {
            padding: 5px;
             margin: 5px;
        }
    }
   


.img-logo{
    animation-name: move;
    animation-duration: 5s;
    @keyframes move {
        from {
            opacity: 0;
        }to{
            opacity: 1;
        }
 }
 }
