main {
    width: 100%;
    background-color: map-get($paletaDeColores, "main");

    div{
        h1{
            font-family: 'Seymour One', sans-serif;
            padding-left: 10px;
        }
    }
    p{
        font-family: $fuente-titulos;
        a{
            color: #b68063
         }
          padding-left: 10px;
        }   
    }
    #nutpb1{
        color: rgba(0, 0, 0, 0.544);
    }
    #section2{
        background-color: #f8f8f4c3;
        font-family: $fuente-titulos; 
        margin: 10px;
        padding: 10px;
        }

    #part1{
        background-color: #b6806318;
        width: 100vw;
        
    }

    section {
        .cardBody {
            background-color: #f8f8f4c3;
            font-family: $fuente-titulos;
            &:hover {
                transform: scale(1.1);
         }
            
        
        }
        #nutrientes {
            margin:10px;
            padding: 10px;
            background-color: #b6806358;
            font-family: $fuente-titulos;
            p{
                font-family: $fuente-titulos;
            }
        }
    }
    



  










 




 

   
