
/* BREAKPOINTS  */

/* MAX WIDTH */

@media (max-width: 1200px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px){
   
.menuGenerico {
        margin: 10px;
    }

#servicios {
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
 }
}

@media (max-width: 600px){

    #consultanos2{
        background-color: map-get($paletaDeColores, "footer" );
        font-family: $fuente-titulos;
     }

     #contactanos2{
        background-color: map-get($paletaDeColores, "footer" );
        font-family: $fuente-titulos;
     }

    .menuGenerico {
        margin: 10px;
        text-align: center;
    }

    .texto1 {
        display: flex;
        flex-direction: column;
    }

    #fotoSofi{
        display: block;

       left:50%;
    }


footer {
     
    div{
        p{
            font-size: 0.7rem;
            font-family: $fuente-titulos;
        }
    }
   
}

}

@media (max-width: 320px){

    .img-logo {
        width: 130px;
     }
     #titulo1{
        font-size: 1.2rem;
     }

    .menuGenerico {
        margin: 10px;
        text-align: center;
    }

  

    .texto1 {
        display: flex;
        flex-direction: column;
    }
    .imagen1 {
        display: flex;
        flex-direction: column;
    }

    #fotoSofi {
        width: 290px;
    }

   

     footer {
     
        div{
            p{
                font-size: 0.7rem;
                font-family: $fuente-titulos;
            }
        }
       
    }

}

/* MIN-WIDTH */

@media (min-width: 320px){

    

}

@media (min-width: 600px){
    .imagen1 {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }  

    #consultanos{
        height: 80vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../Assets/Images/comsut.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    #consultanos2{
        color: white;
        font-size: 4rem;
        font-weight: bold;
        font-family: $fuente-titulos;
        
    }

    #contactanos{
        height: 80vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../Assets/Images/06_CONTACTO_VIVUS-612x344.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
    }
    
    #contactanos2{
        color: white;
        font-size: 4rem;
        font-weight: bold;
    }

}

@media (min-width: 768px){
    .imagen1 {
        display: flex;
        flex-direction: column;
        justify-self: start;
    }  
    
}

@media (min-width: 1024px){
   
}

@media (min-width: 1200px){
  
}
