main {
    background-color: map-get($paletaDeColores, "main");
    #recetMain{
        padding: 0px;
        margin: 0px;
    }
    section{
        .panq{
    @include estilo-recetas;         
        }
        
        .pan{
    @include estilo-recetas;         
        }
        background-color: map-get($paletaDeColores, "main");
    }
  .volver{
    text-decoration: none;
    color:white;
    font-family: $fuente-titulos;
    background-color: #b6968dd2;
    border: solid;
    padding: 10px;
    margin: 5px;

    &:hover {
        color: black;
 }
  }

}


