main {
    background-color: map-get($paletaDeColores, "main");
    #recetMain{
        padding: 0px;
        margin: 0px;
    }
    section{
        .panq{
    @include estilo-recetas;         
        }
        
        .pan{
    @include estilo-recetas;         
        }
        background-color: map-get($paletaDeColores, "main");
    }
}


