main {
         .consultaTexto{
            font-family: 'Noto Serif SC', serif;
            text-align: center;
         }
        
         .consultaTexto2{
            font-weight: bold;
            font-family: 'Noto Serif SC', serif;
            text-align: center;
            
         }
       .btn {
      background-color: #b6968dd2;
      padding: 10px;
      margin: 10px;
      font-weight: bold;
      color: white;
      &:hover {
         color: map-get($paletaDeColores, "footer" );
            }
        }

      
    }

