
.mainHome {
    #textoSofi {
        display: flex;
        text-align: justify;
        margin: 50px;
        font-family: 'Noto Serif SC', serif;
    }

    #fotoSofi {
        width: 350px;
    }
    
}

   






